<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor</title>
</head>
<body>
    <label for="">Grados Celcius</label>
    <input id="celcius" type="number" step="0.01" placeholder="ingrese el radio"></imput>
    <br>
    <button onclick="convercion();">Calcular</button>
    <br>
    <label for="">Grados Farenheit</label>
    <input id="farenheit" type="number" placeholder="Resultado Farenheit" disabled></imput>
    <br>
    <label for="">Grados Kelvin</label>
    <input id="kelvin" type="number" placeholder="Resultado Kelvin" disabled></imput>
    <br>
    <script src="/volumenCono/js/Conversor.js"></script>    
</body>
</html>