<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volumen cono</title>
</head>
<body>
    <label for="">Radio</label>
    <input id="radio" type="number" step="0.01" placeholder="ingrese el radio"></imput>
    <br>
    <label for="">Altura</label>
    <input id="altura" type="number" step="0.01" placeholder="ingrese la altura"></imput>
    <br>
    <button onclick="volumen();">Volumen</button>
    <br>
    <label for="">RESUTADO</label>
    <input id="result" type="number" placeholder="resultado" disabled></imput>
    <script src="/volumenCono/js/volumen.js"></script>
</body>
</html>